pkgbase = abox
	pkgdesc = A minimal busybox-like collection of basic Unix tools
	pkgver = r15.3d1becc
	pkgrel = 1
	url = https://github.com/x4x/abox
	arch = x86_64
	license = unknown
	makedepends = git
	makedepends = make
	makedepends = gcc
	depends = glibc
	provides = abox
	source = abox::git+https://github.com/x4x/abox.git
	sha256sums = SKIP

pkgname = abox
